<%- include('partials/header.ejs') %> 

    <body>
        <%- include('partials/navbar.ejs') %> 
    
        <div class="container mt-4">
            <hr>
            <h1><%= pergunta.titulo %> </h1>
            <p><%= pergunta.descricao %> </p>
            <hr>
            <form method="POST" action="/responder">
                <h3>Responda</h3>
                <label for="corpo">Resposta:</label>
                <textarea name="corpo" id="" cols="30" rows="10" placeholder="Digite sua resposta" class="form-control"></textarea>
                <button type="submit" class="btn btn-primary mt-2">Responder</button>
                <input name="pergunta" type="hidden" value="<%= pergunta.id %> ">
            </form>
            <hr>
            <h3>Respostas</h3>
            <hr>
            <% respostas.forEach((resposta)=>{%> 
                <div class="card mb-4">
                    <div class="card-body">
                        <%= resposta.corpo %> 
                    </div>
                </div>
                
            <% }) %> 
        </div>
    
    </body>
    
    <%- include('partials/footer.ejs') %> </h1>